.gradient-background {
  background: linear-gradient(0deg, #6F4F28, #6A0D91, #D4AF37);
  background-size: 100% 100%;
  animation: gradient-animation 12s linear infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
    background-image: linear-gradient(0deg, #6F4F28, #6A0D91, #D4AF37);
}
0.277% {
    background-position: 1% 50%;
    background-image: linear-gradient(1deg, #6F4F28, #6A0D91, #D4AF37);
}
0.554% {
    background-position: 2% 50%;
    background-image: linear-gradient(2deg, #6F4F28, #6A0D91, #D4AF37);
}
0.831% {
    background-position: 3% 50%;
    background-image: linear-gradient(3deg, #6F4F28, #6A0D91, #D4AF37);
}
1.108% {
    background-position: 4% 50%;
    background-image: linear-gradient(4deg, #6F4F28, #6A0D91, #D4AF37);
}
1.385% {
    background-position: 5% 50%;
    background-image: linear-gradient(5deg, #6F4F28, #6A0D91, #D4AF37);
}
1.662% {
    background-position: 6% 50%;
    background-image: linear-gradient(6deg, #6F4F28, #6A0D91, #D4AF37);
}
1.939% {
    background-position: 7% 50%;
    background-image: linear-gradient(7deg, #6F4F28, #6A0D91, #D4AF37);
}
2.216% {
    background-position: 8% 50%;
    background-image: linear-gradient(8deg, #6F4F28, #6A0D91, #D4AF37);
}
2.493% {
    background-position: 9% 50%;
    background-image: linear-gradient(9deg, #6F4F28, #6A0D91, #D4AF37);
}
2.77% {
    background-position: 10% 50%;
    background-image: linear-gradient(10deg, #6F4F28, #6A0D91, #D4AF37);
}
3.047% {
    background-position: 11% 50%;
    background-image: linear-gradient(11deg, #6F4F28, #6A0D91, #D4AF37);
}
3.324% {
    background-position: 12% 50%;
    background-image: linear-gradient(12deg, #6F4F28, #6A0D91, #D4AF37);
}
3.601% {
    background-position: 13% 50%;
    background-image: linear-gradient(13deg, #6F4F28, #6A0D91, #D4AF37);
}
3.878% {
    background-position: 14% 50%;
    background-image: linear-gradient(14deg, #6F4F28, #6A0D91, #D4AF37);
}
4.155% {
    background-position: 15% 50%;
    background-image: linear-gradient(15deg, #6F4F28, #6A0D91, #D4AF37);
}
4.432% {
    background-position: 16% 50%;
    background-image: linear-gradient(16deg, #6F4F28, #6A0D91, #D4AF37);
}
4.709% {
    background-position: 17% 50%;
    background-image: linear-gradient(17deg, #6F4F28, #6A0D91, #D4AF37);
}
4.986% {
    background-position: 18% 50%;
    background-image: linear-gradient(18deg, #6F4F28, #6A0D91, #D4AF37);
}
5.263% {
    background-position: 19% 50%;
    background-image: linear-gradient(19deg, #6F4F28, #6A0D91, #D4AF37);
}
5.54% {
    background-position: 20% 50%;
    background-image: linear-gradient(20deg, #6F4F28, #6A0D91, #D4AF37);
}
5.817% {
    background-position: 21% 50%;
    background-image: linear-gradient(21deg, #6F4F28, #6A0D91, #D4AF37);
}
6.094% {
    background-position: 22% 50%;
    background-image: linear-gradient(22deg, #6F4F28, #6A0D91, #D4AF37);
}
6.371% {
    background-position: 23% 50%;
    background-image: linear-gradient(23deg, #6F4F28, #6A0D91, #D4AF37);
}
6.648% {
    background-position: 24% 50%;
    background-image: linear-gradient(24deg, #6F4F28, #6A0D91, #D4AF37);
}
6.925% {
    background-position: 25% 50%;
    background-image: linear-gradient(25deg, #6F4F28, #6A0D91, #D4AF37);
}
7.202% {
    background-position: 26% 50%;
    background-image: linear-gradient(26deg, #6F4F28, #6A0D91, #D4AF37);
}
7.479% {
    background-position: 27% 50%;
    background-image: linear-gradient(27deg, #6F4F28, #6A0D91, #D4AF37);
}
7.756% {
    background-position: 28% 50%;
    background-image: linear-gradient(28deg, #6F4F28, #6A0D91, #D4AF37);
}
8.033% {
    background-position: 29% 50%;
    background-image: linear-gradient(29deg, #6F4F28, #6A0D91, #D4AF37);
}
8.31% {
    background-position: 30% 50%;
    background-image: linear-gradient(30deg, #6F4F28, #6A0D91, #D4AF37);
}
8.587% {
    background-position: 31% 50%;
    background-image: linear-gradient(31deg, #6F4F28, #6A0D91, #D4AF37);
}
8.864% {
    background-position: 32% 50%;
    background-image: linear-gradient(32deg, #6F4F28, #6A0D91, #D4AF37);
}
9.141% {
    background-position: 33% 50%;
    background-image: linear-gradient(33deg, #6F4F28, #6A0D91, #D4AF37);
}
9.418% {
    background-position: 34% 50%;
    background-image: linear-gradient(34deg, #6F4F28, #6A0D91, #D4AF37);
}
9.695% {
    background-position: 35% 50%;
    background-image: linear-gradient(35deg, #6F4F28, #6A0D91, #D4AF37);
}
9.972% {
    background-position: 36% 50%;
    background-image: linear-gradient(36deg, #6F4F28, #6A0D91, #D4AF37);
}
10.249% {
    background-position: 37% 50%;
    background-image: linear-gradient(37deg, #6F4F28, #6A0D91, #D4AF37);
}
10.526% {
    background-position: 38% 50%;
    background-image: linear-gradient(38deg, #6F4F28, #6A0D91, #D4AF37);
}
10.803% {
    background-position: 39% 50%;
    background-image: linear-gradient(39deg, #6F4F28, #6A0D91, #D4AF37);
}
11.08% {
    background-position: 40% 50%;
    background-image: linear-gradient(40deg, #6F4F28, #6A0D91, #D4AF37);
}
11.357% {
  background-position: 41% 50%;
  background-image: linear-gradient(41deg, #6F4F28, #6A0D91, #D4AF37);
}
11.634% {
  background-position: 42% 50%;
  background-image: linear-gradient(42deg, #6F4F28, #6A0D91, #D4AF37);
}
11.911% {
  background-position: 43% 50%;
  background-image: linear-gradient(43deg, #6F4F28, #6A0D91, #D4AF37);
}
12.188% {
  background-position: 44% 50%;
  background-image: linear-gradient(44deg, #6F4F28, #6A0D91, #D4AF37);
}
12.465% {
  background-position: 45% 50%;
  background-image: linear-gradient(45deg, #6F4F28, #6A0D91, #D4AF37);
}
12.742% {
  background-position: 46% 50%;
  background-image: linear-gradient(46deg, #6F4F28, #6A0D91, #D4AF37);
}
13.019% {
  background-position: 47% 50%;
  background-image: linear-gradient(47deg, #6F4F28, #6A0D91, #D4AF37);
}
13.296% {
  background-position: 48% 50%;
  background-image: linear-gradient(48deg, #6F4F28, #6A0D91, #D4AF37);
}
13.573% {
  background-position: 49% 50%;
  background-image: linear-gradient(49deg, #6F4F28, #6A0D91, #D4AF37);
}
13.85% {
  background-position: 50% 50%;
  background-image: linear-gradient(50deg, #6F4F28, #6A0D91, #D4AF37);
}
14.127% {
  background-position: 51% 50%;
  background-image: linear-gradient(51deg, #6F4F28, #6A0D91, #D4AF37);
}
14.404% {
  background-position: 52% 50%;
  background-image: linear-gradient(52deg, #6F4F28, #6A0D91, #D4AF37);
}
14.681% {
  background-position: 53% 50%;
  background-image: linear-gradient(53deg, #6F4F28, #6A0D91, #D4AF37);
}
14.958% {
  background-position: 54% 50%;
  background-image: linear-gradient(54deg, #6F4F28, #6A0D91, #D4AF37);
}
15.235% {
  background-position: 55% 50%;
  background-image: linear-gradient(55deg, #6F4F28, #6A0D91, #D4AF37);
}
15.512% {
  background-position: 56% 50%;
  background-image: linear-gradient(56deg, #6F4F28, #6A0D91, #D4AF37);
}
15.789% {
  background-position: 57% 50%;
  background-image: linear-gradient(57deg, #6F4F28, #6A0D91, #D4AF37);
}
16.066% {
  background-position: 58% 50%;
  background-image: linear-gradient(58deg, #6F4F28, #6A0D91, #D4AF37);
}
16.343% {
  background-position: 59% 50%;
  background-image: linear-gradient(59deg, #6F4F28, #6A0D91, #D4AF37);
}
16.62% {
  background-position: 60% 50%;
  background-image: linear-gradient(60deg, #6F4F28, #6A0D91, #D4AF37);
}
16.897% {
  background-position: 61% 50%;
  background-image: linear-gradient(61deg, #6F4F28, #6A0D91, #D4AF37);
}
17.174% {
  background-position: 62% 50%;
  background-image: linear-gradient(62deg, #6F4F28, #6A0D91, #D4AF37);
}
17.451% {
  background-position: 63% 50%;
  background-image: linear-gradient(63deg, #6F4F28, #6A0D91, #D4AF37);
}
17.728% {
  background-position: 64% 50%;
  background-image: linear-gradient(64deg, #6F4F28, #6A0D91, #D4AF37);
}
18.005% {
  background-position: 65% 50%;
  background-image: linear-gradient(65deg, #6F4F28, #6A0D91, #D4AF37);
}
18.282% {
  background-position: 66% 50%;
  background-image: linear-gradient(66deg, #6F4F28, #6A0D91, #D4AF37);
}
18.559% {
  background-position: 67% 50%;
  background-image: linear-gradient(67deg, #6F4F28, #6A0D91, #D4AF37);
}
18.836% {
  background-position: 68% 50%;
  background-image: linear-gradient(68deg, #6F4F28, #6A0D91, #D4AF37);
}
19.113% {
  background-position: 69% 50%;
  background-image: linear-gradient(69deg, #6F4F28, #6A0D91, #D4AF37);
}
19.39% {
  background-position: 70% 50%;
  background-image: linear-gradient(70deg, #6F4F28, #6A0D91, #D4AF37);
}
19.667% {
  background-position: 71% 50%;
  background-image: linear-gradient(71deg, #6F4F28, #6A0D91, #D4AF37);
}
19.944% {
  background-position: 72% 50%;
  background-image: linear-gradient(72deg, #6F4F28, #6A0D91, #D4AF37);
}
20.221% {
  background-position: 73% 50%;
  background-image: linear-gradient(73deg, #6F4F28, #6A0D91, #D4AF37);
}
20.498% {
  background-position: 74% 50%;
  background-image: linear-gradient(74deg, #6F4F28, #6A0D91, #D4AF37);
}
20.775% {
  background-position: 75% 50%;
  background-image: linear-gradient(75deg, #6F4F28, #6A0D91, #D4AF37);
}
21.052% {
  background-position: 76% 50%;
  background-image: linear-gradient(76deg, #6F4F28, #6A0D91, #D4AF37);
}
21.329% {
  background-position: 77% 50%;
  background-image: linear-gradient(77deg, #6F4F28, #6A0D91, #D4AF37);
}
21.606% {
  background-position: 78% 50%;
  background-image: linear-gradient(78deg, #6F4F28, #6A0D91, #D4AF37);
}
21.883% {
  background-position: 79% 50%;
  background-image: linear-gradient(79deg, #6F4F28, #6A0D91, #D4AF37);
}
22.16% {
  background-position: 80% 50%;
  background-image: linear-gradient(80deg, #6F4F28, #6A0D91, #D4AF37);
}
22.437% {
  background-position: 81% 50%;
  background-image: linear-gradient(81deg, #6F4F28, #6A0D91, #D4AF37);
}
22.714% {
  background-position: 82% 50%;
  background-image: linear-gradient(82deg, #6F4F28, #6A0D91, #D4AF37);
}
22.991% {
  background-position: 83% 50%;
  background-image: linear-gradient(83deg, #6F4F28, #6A0D91, #D4AF37);
}
23.268% {
  background-position: 84% 50%;
  background-image: linear-gradient(84deg, #6F4F28, #6A0D91, #D4AF37);
}
23.545% {
  background-position: 85% 50%;
  background-image: linear-gradient(85deg, #6F4F28, #6A0D91, #D4AF37);
}
23.822% {
  background-position: 86% 50%;
  background-image: linear-gradient(86deg, #6F4F28, #6A0D91, #D4AF37);
}
24.099% {
  background-position: 87% 50%;
  background-image: linear-gradient(87deg, #6F4F28, #6A0D91, #D4AF37);
}
24.376% {
  background-position: 88% 50%;
  background-image: linear-gradient(88deg, #6F4F28, #6A0D91, #D4AF37);
}
24.653% {
  background-position: 89% 50%;
  background-image: linear-gradient(89deg, #6F4F28, #6A0D91, #D4AF37);
}
24.93% {
  background-position: 90% 50%;
  background-image: linear-gradient(90deg, #6F4F28, #6A0D91, #D4AF37);
}
25.207% {
  background-position: 91% 50%;
  background-image: linear-gradient(91deg, #6F4F28, #6A0D91, #D4AF37);
}
25.484% {
  background-position: 92% 50%;
  background-image: linear-gradient(92deg, #6F4F28, #6A0D91, #D4AF37);
}
25.761% {
  background-position: 93% 50%;
  background-image: linear-gradient(93deg, #6F4F28, #6A0D91, #D4AF37);
}
26.038% {
  background-position: 94% 50%;
  background-image: linear-gradient(94deg, #6F4F28, #6A0D91, #D4AF37);
}
26.315% {
  background-position: 95% 50%;
  background-image: linear-gradient(95deg, #6F4F28, #6A0D91, #D4AF37);
}
26.592% {
  background-position: 96% 50%;
  background-image: linear-gradient(96deg, #6F4F28, #6A0D91, #D4AF37);
}
26.869% {
  background-position: 97% 50%;
  background-image: linear-gradient(97deg, #6F4F28, #6A0D91, #D4AF37);
}
27.146% {
  background-position: 98% 50%;
  background-image: linear-gradient(98deg, #6F4F28, #6A0D91, #D4AF37);
}
27.423% {
  background-position: 99% 50%;
  background-image: linear-gradient(99deg, #6F4F28, #6A0D91, #D4AF37);
}
27.7% {
  background-position: 100% 50%;
  background-image: linear-gradient(100deg, #6F4F28, #6A0D91, #D4AF37);
}
27.977% {
  background-position: 101% 50%;
  background-image: linear-gradient(101deg, #6F4F28, #6A0D91, #D4AF37);
}
28.254% {
  background-position: 102% 50%;
  background-image: linear-gradient(102deg, #6F4F28, #6A0D91, #D4AF37);
}
28.531% {
  background-position: 103% 50%;
  background-image: linear-gradient(103deg, #6F4F28, #6A0D91, #D4AF37);
}
28.808% {
  background-position: 104% 50%;
  background-image: linear-gradient(104deg, #6F4F28, #6A0D91, #D4AF37);
}
29.085% {
  background-position: 105% 50%;
  background-image: linear-gradient(105deg, #6F4F28, #6A0D91, #D4AF37);
}
29.362% {
  background-position: 106% 50%;
  background-image: linear-gradient(106deg, #6F4F28, #6A0D91, #D4AF37);
}
29.639% {
  background-position: 107% 50%;
  background-image: linear-gradient(107deg, #6F4F28, #6A0D91, #D4AF37);
}
29.916% {
  background-position: 108% 50%;
  background-image: linear-gradient(108deg, #6F4F28, #6A0D91, #D4AF37);
}
30.193% {
  background-position: 109% 50%;
  background-image: linear-gradient(109deg, #6F4F28, #6A0D91, #D4AF37);
}
30.47% {
  background-position: 110% 50%;
  background-image: linear-gradient(110deg, #6F4F28, #6A0D91, #D4AF37);
}
30.747% {
  background-position: 111% 50%;
  background-image: linear-gradient(111deg, #6F4F28, #6A0D91, #D4AF37);
}
31.024% {
  background-position: 112% 50%;
  background-image: linear-gradient(112deg, #6F4F28, #6A0D91, #D4AF37);
}
31.301% {
  background-position: 113% 50%;
  background-image: linear-gradient(113deg, #6F4F28, #6A0D91, #D4AF37);
}
31.578% {
  background-position: 114% 50%;
  background-image: linear-gradient(114deg, #6F4F28, #6A0D91, #D4AF37);
}
31.855% {
  background-position: 115% 50%;
  background-image: linear-gradient(115deg, #6F4F28, #6A0D91, #D4AF37);
}
32.132% {
  background-position: 116% 50%;
  background-image: linear-gradient(116deg, #6F4F28, #6A0D91, #D4AF37);
}
32.409% {
  background-position: 117% 50%;
  background-image: linear-gradient(117deg, #6F4F28, #6A0D91, #D4AF37);
}
32.686% {
  background-position: 118% 50%;
  background-image: linear-gradient(118deg, #6F4F28, #6A0D91, #D4AF37);
}
32.963% {
  background-position: 119% 50%;
  background-image: linear-gradient(119deg, #6F4F28, #6A0D91, #D4AF37);
}
33.24% {
  background-position: 120% 50%;
  background-image: linear-gradient(120deg, #6F4F28, #6A0D91, #D4AF37);
}
33.517% {
  background-position: 121% 50%;
  background-image: linear-gradient(121deg, #6F4F28, #6A0D91, #D4AF37);
}
33.794% {
  background-position: 122% 50%;
  background-image: linear-gradient(122deg, #6F4F28, #6A0D91, #D4AF37);
}
34.071% {
  background-position: 123% 50%;
  background-image: linear-gradient(123deg, #6F4F28, #6A0D91, #D4AF37);
}
34.348% {
  background-position: 124% 50%;
  background-image: linear-gradient(124deg, #6F4F28, #6A0D91, #D4AF37);
}
34.625% {
  background-position: 125% 50%;
  background-image: linear-gradient(125deg, #6F4F28, #6A0D91, #D4AF37);
}
34.902% {
  background-position: 126% 50%;
  background-image: linear-gradient(126deg, #6F4F28, #6A0D91, #D4AF37);
}
35% {
  background-position: 127% 50%;
  background-image: linear-gradient(127deg, #6F4F28, #6A0D91, #D4AF37);
}
35.277% {
  background-position: 128% 50%;
  background-image: linear-gradient(128deg, #6F4F28, #6A0D91, #D4AF37);
}
35.554% {
  background-position: 129% 50%;
  background-image: linear-gradient(129deg, #6F4F28, #6A0D91, #D4AF37);
}
35.831% {
  background-position: 130% 50%;
  background-image: linear-gradient(130deg, #6F4F28, #6A0D91, #D4AF37);
}
36.108% {
  background-position: 131% 50%;
  background-image: linear-gradient(131deg, #6F4F28, #6A0D91, #D4AF37);
}
36.385% {
  background-position: 132% 50%;
  background-image: linear-gradient(132deg, #6F4F28, #6A0D91, #D4AF37);
}
36.662% {
  background-position: 133% 50%;
  background-image: linear-gradient(133deg, #6F4F28, #6A0D91, #D4AF37);
}
36.939% {
  background-position: 134% 50%;
  background-image: linear-gradient(134deg, #6F4F28, #6A0D91, #D4AF37);
}
37.216% {
  background-position: 135% 50%;
  background-image: linear-gradient(135deg, #6F4F28, #6A0D91, #D4AF37);
}
37.493% {
  background-position: 136% 50%;
  background-image: linear-gradient(136deg, #6F4F28, #6A0D91, #D4AF37);
}
37.77% {
  background-position: 137% 50%;
  background-image: linear-gradient(137deg, #6F4F28, #6A0D91, #D4AF37);
}
38.047% {
  background-position: 138% 50%;
  background-image: linear-gradient(138deg, #6F4F28, #6A0D91, #D4AF37);
}
38.324% {
  background-position: 139% 50%;
  background-image: linear-gradient(139deg, #6F4F28, #6A0D91, #D4AF37);
}
38.601% {
  background-position: 140% 50%;
  background-image: linear-gradient(140deg, #6F4F28, #6A0D91, #D4AF37);
}
38.878% {
  background-position: 141% 50%;
  background-image: linear-gradient(141deg, #6F4F28, #6A0D91, #D4AF37);
}
39.155% {
  background-position: 142% 50%;
  background-image: linear-gradient(142deg, #6F4F28, #6A0D91, #D4AF37);
}
39.432% {
  background-position: 143% 50%;
  background-image: linear-gradient(143deg, #6F4F28, #6A0D91, #D4AF37);
}
39.709% {
  background-position: 144% 50%;
  background-image: linear-gradient(144deg, #6F4F28, #6A0D91, #D4AF37);
}
39.986% {
  background-position: 145% 50%;
  background-image: linear-gradient(145deg, #6F4F28, #6A0D91, #D4AF37);
}
40.263% {
  background-position: 146% 50%;
  background-image: linear-gradient(146deg, #6F4F28, #6A0D91, #D4AF37);
}
40.54% {
  background-position: 147% 50%;
  background-image: linear-gradient(147deg, #6F4F28, #6A0D91, #D4AF37);
}
40.817% {
  background-position: 148% 50%;
  background-image: linear-gradient(148deg, #6F4F28, #6A0D91, #D4AF37);
}
41.094% {
  background-position: 149% 50%;
  background-image: linear-gradient(149deg, #6F4F28, #6A0D91, #D4AF37);
}
41.371% {
  background-position: 150% 50%;
  background-image: linear-gradient(150deg, #6F4F28, #6A0D91, #D4AF37);
}
41.648% {
  background-position: 151% 50%;
  background-image: linear-gradient(151deg, #6F4F28, #6A0D91, #D4AF37);
}
41.925% {
  background-position: 152% 50%;
  background-image: linear-gradient(152deg, #6F4F28, #6A0D91, #D4AF37);
}
42.202% {
  background-position: 153% 50%;
  background-image: linear-gradient(153deg, #6F4F28, #6A0D91, #D4AF37);
}
42.479% {
  background-position: 154% 50%;
  background-image: linear-gradient(154deg, #6F4F28, #6A0D91, #D4AF37);
}
42.756% {
  background-position: 155% 50%;
  background-image: linear-gradient(155deg, #6F4F28, #6A0D91, #D4AF37);
}
43.033% {
  background-position: 156% 50%;
  background-image: linear-gradient(156deg, #6F4F28, #6A0D91, #D4AF37);
}
43.31% {
  background-position: 157% 50%;
  background-image: linear-gradient(157deg, #6F4F28, #6A0D91, #D4AF37);
}
43.587% {
  background-position: 158% 50%;
  background-image: linear-gradient(158deg, #6F4F28, #6A0D91, #D4AF37);
}
43.864% {
  background-position: 159% 50%;
  background-image: linear-gradient(159deg, #6F4F28, #6A0D91, #D4AF37);
}
44.141% {
  background-position: 160% 50%;
  background-image: linear-gradient(160deg, #6F4F28, #6A0D91, #D4AF37);
}
44.418% {
  background-position: 161% 50%;
  background-image: linear-gradient(161deg, #6F4F28, #6A0D91, #D4AF37);
}
44.695% {
  background-position: 162% 50%;
  background-image: linear-gradient(162deg, #6F4F28, #6A0D91, #D4AF37);
}
44.972% {
  background-position: 163% 50%;
  background-image: linear-gradient(163deg, #6F4F28, #6A0D91, #D4AF37);
}
45.249% {
  background-position: 164% 50%;
  background-image: linear-gradient(164deg, #6F4F28, #6A0D91, #D4AF37);
}
45.526% {
  background-position: 165% 50%;
  background-image: linear-gradient(165deg, #6F4F28, #6A0D91, #D4AF37);
}
45.803% {
  background-position: 166% 50%;
  background-image: linear-gradient(166deg, #6F4F28, #6A0D91, #D4AF37);
}
46.08% {
  background-position: 167% 50%;
  background-image: linear-gradient(167deg, #6F4F28, #6A0D91, #D4AF37);
}
46.357% {
  background-position: 168% 50%;
  background-image: linear-gradient(168deg, #6F4F28, #6A0D91, #D4AF37);
}
46.634% {
  background-position: 169% 50%;
  background-image: linear-gradient(169deg, #6F4F28, #6A0D91, #D4AF37);
}
46.911% {
  background-position: 170% 50%;
  background-image: linear-gradient(170deg, #6F4F28, #6A0D91, #D4AF37);
}
47.188% {
  background-position: 171% 50%;
  background-image: linear-gradient(171deg, #6F4F28, #6A0D91, #D4AF37);
}
47.465% {
  background-position: 172% 50%;
  background-image: linear-gradient(172deg, #6F4F28, #6A0D91, #D4AF37);
}
47.742% {
  background-position: 173% 50%;
  background-image: linear-gradient(173deg, #6F4F28, #6A0D91, #D4AF37);
}
48.019% {
  background-position: 174% 50%;
  background-image: linear-gradient(174deg, #6F4F28, #6A0D91, #D4AF37);
}
48.296% {
  background-position: 175% 50%;
  background-image: linear-gradient(175deg, #6F4F28, #6A0D91, #D4AF37);
}
48.573% {
  background-position: 176% 50%;
  background-image: linear-gradient(176deg, #6F4F28, #6A0D91, #D4AF37);
}
48.85% {
  background-position: 177% 50%;
  background-image: linear-gradient(177deg, #6F4F28, #6A0D91, #D4AF37);
}
49.127% {
  background-position: 178% 50%;
  background-image: linear-gradient(178deg, #6F4F28, #6A0D91, #D4AF37);
}
49.404% {
  background-position: 179% 50%;
  background-image: linear-gradient(179deg, #6F4F28, #6A0D91, #D4AF37);
}
49.681% {
  background-position: 180% 50%;
  background-image: linear-gradient(180deg, #6F4F28, #6A0D91, #D4AF37);
}
49.958% {
  background-position: 181% 50%;
  background-image: linear-gradient(181deg, #6F4F28, #6A0D91, #D4AF37);
}
50.235% {
  background-position: 182% 50%;
  background-image: linear-gradient(182deg, #6F4F28, #6A0D91, #D4AF37);
}
50.235% {
  background-position: 183% 50%;
  background-image: linear-gradient(183deg, #6F4F28, #6A0D91, #D4AF37);
}
50.512% {
  background-position: 184% 50%;
  background-image: linear-gradient(184deg, #6F4F28, #6A0D91, #D4AF37);
}
50.789% {
  background-position: 185% 50%;
  background-image: linear-gradient(185deg, #6F4F28, #6A0D91, #D4AF37);
}
51.066% {
  background-position: 186% 50%;
  background-image: linear-gradient(186deg, #6F4F28, #6A0D91, #D4AF37);
}
51.343% {
  background-position: 187% 50%;
  background-image: linear-gradient(187deg, #6F4F28, #6A0D91, #D4AF37);
}
51.62% {
  background-position: 188% 50%;
  background-image: linear-gradient(188deg, #6F4F28, #6A0D91, #D4AF37);
}
51.897% {
  background-position: 189% 50%;
  background-image: linear-gradient(189deg, #6F4F28, #6A0D91, #D4AF37);
}
52.174% {
  background-position: 190% 50%;
  background-image: linear-gradient(190deg, #6F4F28, #6A0D91, #D4AF37);
}
52.451% {
  background-position: 191% 50%;
  background-image: linear-gradient(191deg, #6F4F28, #6A0D91, #D4AF37);
}
52.728% {
  background-position: 192% 50%;
  background-image: linear-gradient(192deg, #6F4F28, #6A0D91, #D4AF37);
}
53.005% {
  background-position: 193% 50%;
  background-image: linear-gradient(193deg, #6F4F28, #6A0D91, #D4AF37);
}
53.282% {
  background-position: 194% 50%;
  background-image: linear-gradient(194deg, #6F4F28, #6A0D91, #D4AF37);
}
53.559% {
  background-position: 195% 50%;
  background-image: linear-gradient(195deg, #6F4F28, #6A0D91, #D4AF37);
}
53.836% {
  background-position: 196% 50%;
  background-image: linear-gradient(196deg, #6F4F28, #6A0D91, #D4AF37);
}
54.113% {
  background-position: 197% 50%;
  background-image: linear-gradient(197deg, #6F4F28, #6A0D91, #D4AF37);
}
54.39% {
  background-position: 198% 50%;
  background-image: linear-gradient(198deg, #6F4F28, #6A0D91, #D4AF37);
}
54.39% {
  background-position: 198% 50%;
  background-image: linear-gradient(198deg, #6F4F28, #6A0D91, #D4AF37);
}
54.667% {
  background-position: 199% 50%;
  background-image: linear-gradient(199deg, #6F4F28, #6A0D91, #D4AF37);
}
54.944% {
  background-position: 200% 50%;
  background-image: linear-gradient(200deg, #6F4F28, #6A0D91, #D4AF37);
}
55.221% {
  background-position: 201% 50%;
  background-image: linear-gradient(201deg, #6F4F28, #6A0D91, #D4AF37);
}
55.498% {
  background-position: 202% 50%;
  background-image: linear-gradient(202deg, #6F4F28, #6A0D91, #D4AF37);
}
55.775% {
  background-position: 203% 50%;
  background-image: linear-gradient(203deg, #6F4F28, #6A0D91, #D4AF37);
}
56.052% {
  background-position: 204% 50%;
  background-image: linear-gradient(204deg, #6F4F28, #6A0D91, #D4AF37);
}
56.329% {
  background-position: 205% 50%;
  background-image: linear-gradient(205deg, #6F4F28, #6A0D91, #D4AF37);
}
56.606% {
  background-position: 206% 50%;
  background-image: linear-gradient(206deg, #6F4F28, #6A0D91, #D4AF37);
}
56.883% {
  background-position: 207% 50%;
  background-image: linear-gradient(207deg, #6F4F28, #6A0D91, #D4AF37);
}
57.16% {
  background-position: 208% 50%;
  background-image: linear-gradient(208deg, #6F4F28, #6A0D91, #D4AF37);
}
57.437% {
  background-position: 209% 50%;
  background-image: linear-gradient(209deg, #6F4F28, #6A0D91, #D4AF37);
}
57.714% {
  background-position: 210% 50%;
  background-image: linear-gradient(210deg, #6F4F28, #6A0D91, #D4AF37);
}
57.991% {
  background-position: 211% 50%;
  background-image: linear-gradient(211deg, #6F4F28, #6A0D91, #D4AF37);
}
58.268% {
  background-position: 212% 50%;
  background-image: linear-gradient(212deg, #6F4F28, #6A0D91, #D4AF37);
}
58.545% {
  background-position: 213% 50%;
  background-image: linear-gradient(213deg, #6F4F28, #6A0D91, #D4AF37);
}
58.822% {
  background-position: 214% 50%;
  background-image: linear-gradient(214deg, #6F4F28, #6A0D91, #D4AF37);
}
59.099% {
  background-position: 215% 50%;
  background-image: linear-gradient(215deg, #6F4F28, #6A0D91, #D4AF37);
}
59.376% {
  background-position: 216% 50%;
  background-image: linear-gradient(216deg, #6F4F28, #6A0D91, #D4AF37);
}
59.653% {
  background-position: 217% 50%;
  background-image: linear-gradient(217deg, #6F4F28, #6A0D91, #D4AF37);
}
59.93% {
  background-position: 218% 50%;
  background-image: linear-gradient(218deg, #6F4F28, #6A0D91, #D4AF37);
}
60.207% {
  background-position: 219% 50%;
  background-image: linear-gradient(219deg, #6F4F28, #6A0D91, #D4AF37);
}
60.484% {
  background-position: 220% 50%;
  background-image: linear-gradient(220deg, #6F4F28, #6A0D91, #D4AF37);
}
60.761% {
  background-position: 221% 50%;
  background-image: linear-gradient(221deg, #6F4F28, #6A0D91, #D4AF37);
}
61.038% {
  background-position: 222% 50%;
  background-image: linear-gradient(222deg, #6F4F28, #6A0D91, #D4AF37);
}
61.315% {
  background-position: 223% 50%;
  background-image: linear-gradient(223deg, #6F4F28, #6A0D91, #D4AF37);
}
61.592% {
  background-position: 224% 50%;
  background-image: linear-gradient(224deg, #6F4F28, #6A0D91, #D4AF37);
}
61.869% {
  background-position: 225% 50%;
  background-image: linear-gradient(225deg, #6F4F28, #6A0D91, #D4AF37);
}
62.146% {
  background-position: 226% 50%;
  background-image: linear-gradient(226deg, #6F4F28, #6A0D91, #D4AF37);
}
62.423% {
  background-position: 227% 50%;
  background-image: linear-gradient(227deg, #6F4F28, #6A0D91, #D4AF37);
}
62.7% {
  background-position: 228% 50%;
  background-image: linear-gradient(228deg, #6F4F28, #6A0D91, #D4AF37);
}
62.977% {
  background-position: 229% 50%;
  background-image: linear-gradient(229deg, #6F4F28, #6A0D91, #D4AF37);
}
63.254% {
  background-position: 230% 50%;
  background-image: linear-gradient(230deg, #6F4F28, #6A0D91, #D4AF37);
}
63.531% {
  background-position: 231% 50%;
  background-image: linear-gradient(231deg, #6F4F28, #6A0D91, #D4AF37);
}
63.808% {
  background-position: 232% 50%;
  background-image: linear-gradient(232deg, #6F4F28, #6A0D91, #D4AF37);
}
64.085% {
  background-position: 233% 50%;
  background-image: linear-gradient(233deg, #6F4F28, #6A0D91, #D4AF37);
}
64.362% {
  background-position: 234% 50%;
  background-image: linear-gradient(234deg, #6F4F28, #6A0D91, #D4AF37);
}
64.639% {
  background-position: 235% 50%;
  background-image: linear-gradient(235deg, #6F4F28, #6A0D91, #D4AF37);
}
64.916% {
  background-position: 236% 50%;
  background-image: linear-gradient(236deg, #6F4F28, #6A0D91, #D4AF37);
}
65.193% {
  background-position: 237% 50%;
  background-image: linear-gradient(237deg, #6F4F28, #6A0D91, #D4AF37);
}
65.47% {
  background-position: 238% 50%;
  background-image: linear-gradient(238deg, #6F4F28, #6A0D91, #D4AF37);
}
65.747% {
  background-position: 239% 50%;
  background-image: linear-gradient(239deg, #6F4F28, #6A0D91, #D4AF37);
}
66.024% {
  background-position: 240% 50%;
  background-image: linear-gradient(240deg, #6F4F28, #6A0D91, #D4AF37);
}
66.301% {
  background-position: 241% 50%;
  background-image: linear-gradient(241deg, #6F4F28, #6A0D91, #D4AF37);
}
66.578% {
  background-position: 242% 50%;
  background-image: linear-gradient(242deg, #6F4F28, #6A0D91, #D4AF37);
}
66.855% {
  background-position: 243% 50%;
  background-image: linear-gradient(243deg, #6F4F28, #6A0D91, #D4AF37);
}
67.132% {
  background-position: 244% 50%;
  background-image: linear-gradient(244deg, #6F4F28, #6A0D91, #D4AF37);
}
67.409% {
  background-position: 245% 50%;
  background-image: linear-gradient(245deg, #6F4F28, #6A0D91, #D4AF37);
}
67.686% {
  background-position: 246% 50%;
  background-image: linear-gradient(246deg, #6F4F28, #6A0D91, #D4AF37);
}
67.963% {
  background-position: 247% 50%;
  background-image: linear-gradient(247deg, #6F4F28, #6A0D91, #D4AF37);
}
68.24% {
  background-position: 248% 50%;
  background-image: linear-gradient(248deg, #6F4F28, #6A0D91, #D4AF37);
}
68.517% {
  background-position: 249% 50%;
  background-image: linear-gradient(249deg, #6F4F28, #6A0D91, #D4AF37);
}
68.794% {
  background-position: 250% 50%;
  background-image: linear-gradient(250deg, #6F4F28, #6A0D91, #D4AF37);
}
69.071% {
  background-position: 251% 50%;
  background-image: linear-gradient(251deg, #6F4F28, #6A0D91, #D4AF37);
}
69.348% {
  background-position: 252% 50%;
  background-image: linear-gradient(252deg, #6F4F28, #6A0D91, #D4AF37);
}
69.625% {
  background-position: 253% 50%;
  background-image: linear-gradient(253deg, #6F4F28, #6A0D91, #D4AF37);
}
69.902% {
  background-position: 254% 50%;
  background-image: linear-gradient(254deg, #6F4F28, #6A0D91, #D4AF37);
}
70.179% {
  background-position: 255% 50%;
  background-image: linear-gradient(255deg, #6F4F28, #6A0D91, #D4AF37);
}
70.456% {
  background-position: 256% 50%;
  background-image: linear-gradient(256deg, #6F4F28, #6A0D91, #D4AF37);
}
70.733% {
  background-position: 257% 50%;
  background-image: linear-gradient(257deg, #6F4F28, #6A0D91, #D4AF37);
}
71.01% {
  background-position: 258% 50%;
  background-image: linear-gradient(258deg, #6F4F28, #6A0D91, #D4AF37);
}
71.287% {
  background-position: 259% 50%;
  background-image: linear-gradient(259deg, #6F4F28, #6A0D91, #D4AF37);
}
71.564% {
  background-position: 260% 50%;
  background-image: linear-gradient(260deg, #6F4F28, #6A0D91, #D4AF37);
}
71.841% {
  background-position: 261% 50%;
  background-image: linear-gradient(261deg, #6F4F28, #6A0D91, #D4AF37);
}
72.118% {
  background-position: 262% 50%;
  background-image: linear-gradient(262deg, #6F4F28, #6A0D91, #D4AF37);
}
72.395% {
  background-position: 263% 50%;
  background-image: linear-gradient(263deg, #6F4F28, #6A0D91, #D4AF37);
}
72.672% {
  background-position: 264% 50%;
  background-image: linear-gradient(264deg, #6F4F28, #6A0D91, #D4AF37);
}
72.949% {
  background-position: 265% 50%;
  background-image: linear-gradient(265deg, #6F4F28, #6A0D91, #D4AF37);
}
73.226% {
  background-position: 266% 50%;
  background-image: linear-gradient(266deg, #6F4F28, #6A0D91, #D4AF37);
}
73.503% {
  background-position: 267% 50%;
  background-image: linear-gradient(267deg, #6F4F28, #6A0D91, #D4AF37);
}
73.78% {
  background-position: 268% 50%;
  background-image: linear-gradient(268deg, #6F4F28, #6A0D91, #D4AF37);
}
74.057% {
  background-position: 269% 50%;
  background-image: linear-gradient(269deg, #6F4F28, #6A0D91, #D4AF37);
}
74.334% {
  background-position: 270% 50%;
  background-image: linear-gradient(270deg, #6F4F28, #6A0D91, #D4AF37);
}
74.611% {
  background-position: 271% 50%;
  background-image: linear-gradient(271deg, #6F4F28, #6A0D91, #D4AF37);
}
74.888% {
  background-position: 272% 50%;
  background-image: linear-gradient(272deg, #6F4F28, #6A0D91, #D4AF37);
}
75.165% {
  background-position: 273% 50%;
  background-image: linear-gradient(273deg, #6F4F28, #6A0D91, #D4AF37);
}
75.442% {
  background-position: 274% 50%;
  background-image: linear-gradient(274deg, #6F4F28, #6A0D91, #D4AF37);
}
75.719% {
  background-position: 275% 50%;
  background-image: linear-gradient(275deg, #6F4F28, #6A0D91, #D4AF37);
}
75.996% {
  background-position: 276% 50%;
  background-image: linear-gradient(276deg, #6F4F28, #6A0D91, #D4AF37);
}
76.273% {
  background-position: 277% 50%;
  background-image: linear-gradient(277deg, #6F4F28, #6A0D91, #D4AF37);
}
76.55% {
  background-position: 278% 50%;
  background-image: linear-gradient(278deg, #6F4F28, #6A0D91, #D4AF37);
}
76.827% {
  background-position: 279% 50%;
  background-image: linear-gradient(279deg, #6F4F28, #6A0D91, #D4AF37);
}
77.104% {
  background-position: 280% 50%;
  background-image: linear-gradient(280deg, #6F4F28, #6A0D91, #D4AF37);
}
77.381% {
  background-position: 281% 50%;
  background-image: linear-gradient(281deg, #6F4F28, #6A0D91, #D4AF37);
}
77.658% {
  background-position: 282% 50%;
  background-image: linear-gradient(282deg, #6F4F28, #6A0D91, #D4AF37);
}
77.935% {
  background-position: 283% 50%;
  background-image: linear-gradient(283deg, #6F4F28, #6A0D91, #D4AF37);
}
78.212% {
  background-position: 284% 50%;
  background-image: linear-gradient(284deg, #6F4F28, #6A0D91, #D4AF37);
}
78.489% {
  background-position: 285% 50%;
  background-image: linear-gradient(285deg, #6F4F28, #6A0D91, #D4AF37);
}
78.766% {
  background-position: 286% 50%;
  background-image: linear-gradient(286deg, #6F4F28, #6A0D91, #D4AF37);
}
79.043% {
  background-position: 287% 50%;
  background-image: linear-gradient(287deg, #6F4F28, #6A0D91, #D4AF37);
}
79.32% {
  background-position: 288% 50%;
  background-image: linear-gradient(288deg, #6F4F28, #6A0D91, #D4AF37);
}
79.597% {
  background-position: 289% 50%;
  background-image: linear-gradient(289deg, #6F4F28, #6A0D91, #D4AF37);
}
79.874% {
  background-position: 290% 50%;
  background-image: linear-gradient(290deg, #6F4F28, #6A0D91, #D4AF37);
}
80.151% {
  background-position: 291% 50%;
  background-image: linear-gradient(291deg, #6F4F28, #6A0D91, #D4AF37);
}
80.428% {
  background-position: 292% 50%;
  background-image: linear-gradient(292deg, #6F4F28, #6A0D91, #D4AF37);
}
80.705% {
  background-position: 293% 50%;
  background-image: linear-gradient(293deg, #6F4F28, #6A0D91, #D4AF37);
}
80.982% {
  background-position: 294% 50%;
  background-image: linear-gradient(294deg, #6F4F28, #6A0D91, #D4AF37);
}
81.259% {
  background-position: 295% 50%;
  background-image: linear-gradient(295deg, #6F4F28, #6A0D91, #D4AF37);
}
81.536% {
  background-position: 296% 50%;
  background-image: linear-gradient(296deg, #6F4F28, #6A0D91, #D4AF37);
}
81.813% {
  background-position: 297% 50%;
  background-image: linear-gradient(297deg, #6F4F28, #6A0D91, #D4AF37);
}
82.09% {
  background-position: 298% 50%;
  background-image: linear-gradient(298deg, #6F4F28, #6A0D91, #D4AF37);
}
82.367% {
  background-position: 299% 50%;
  background-image: linear-gradient(299deg, #6F4F28, #6A0D91, #D4AF37);
}
82.644% {
  background-position: 300% 50%;
  background-image: linear-gradient(300deg, #6F4F28, #6A0D91, #D4AF37);
}
82.921% {
  background-position: 301% 50%;
  background-image: linear-gradient(301deg, #6F4F28, #6A0D91, #D4AF37);
}
83.198% {
  background-position: 302% 50%;
  background-image: linear-gradient(302deg, #6F4F28, #6A0D91, #D4AF37);
}
83.475% {
  background-position: 303% 50%;
  background-image: linear-gradient(303deg, #6F4F28, #6A0D91, #D4AF37);
}
83.752% {
  background-position: 304% 50%;
  background-image: linear-gradient(304deg, #6F4F28, #6A0D91, #D4AF37);
}
84.029% {
  background-position: 305% 50%;
  background-image: linear-gradient(305deg, #6F4F28, #6A0D91, #D4AF37);
}
84.306% {
  background-position: 306% 50%;
  background-image: linear-gradient(306deg, #6F4F28, #6A0D91, #D4AF37);
}
84.583% {
  background-position: 307% 50%;
  background-image: linear-gradient(307deg, #6F4F28, #6A0D91, #D4AF37);
}
84.86% {
  background-position: 308% 50%;
  background-image: linear-gradient(308deg, #6F4F28, #6A0D91, #D4AF37);
}
85.137% {
  background-position: 309% 50%;
  background-image: linear-gradient(309deg, #6F4F28, #6A0D91, #D4AF37);
}
85.414% {
  background-position: 310% 50%;
  background-image: linear-gradient(310deg, #6F4F28, #6A0D91, #D4AF37);
}
85.691% {
  background-position: 311% 50%;
  background-image: linear-gradient(311deg, #6F4F28, #6A0D91, #D4AF37);
}
85.968% {
  background-position: 312% 50%;
  background-image: linear-gradient(312deg, #6F4F28, #6A0D91, #D4AF37);
}
86.245% {
  background-position: 313% 50%;
  background-image: linear-gradient(313deg, #6F4F28, #6A0D91, #D4AF37);
}
86.522% {
  background-position: 314% 50%;
  background-image: linear-gradient(314deg, #6F4F28, #6A0D91, #D4AF37);
}
86.799% {
  background-position: 315% 50%;
  background-image: linear-gradient(315deg, #6F4F28, #6A0D91, #D4AF37);
}
87.076% {
  background-position: 316% 50%;
  background-image: linear-gradient(316deg, #6F4F28, #6A0D91, #D4AF37);
}
87.353% {
  background-position: 317% 50%;
  background-image: linear-gradient(317deg, #6F4F28, #6A0D91, #D4AF37);
}
87.63% {
  background-position: 318% 50%;
  background-image: linear-gradient(318deg, #6F4F28, #6A0D91, #D4AF37);
}
87.907% {
  background-position: 319% 50%;
  background-image: linear-gradient(319deg, #6F4F28, #6A0D91, #D4AF37);
}
88.184% {
  background-position: 320% 50%;
  background-image: linear-gradient(320deg, #6F4F28, #6A0D91, #D4AF37);
}
88.461% {
  background-position: 321% 50%;
  background-image: linear-gradient(321deg, #6F4F28, #6A0D91, #D4AF37);
}
88.738% {
  background-position: 322% 50%;
  background-image: linear-gradient(322deg, #6F4F28, #6A0D91, #D4AF37);
}
89.015% {
  background-position: 323% 50%;
  background-image: linear-gradient(323deg, #6F4F28, #6A0D91, #D4AF37);
}
89.292% {
  background-position: 324% 50%;
  background-image: linear-gradient(324deg, #6F4F28, #6A0D91, #D4AF37);
}
89.569% {
  background-position: 325% 50%;
  background-image: linear-gradient(325deg, #6F4F28, #6A0D91, #D4AF37);
}
89.846% {
  background-position: 326% 50%;
  background-image: linear-gradient(326deg, #6F4F28, #6A0D91, #D4AF37);
}
90.123% {
  background-position: 327% 50%;
  background-image: linear-gradient(327deg, #6F4F28, #6A0D91, #D4AF37);
}
90.4% {
  background-position: 328% 50%;
  background-image: linear-gradient(328deg, #6F4F28, #6A0D91, #D4AF37);
}
90.677% {
  background-position: 329% 50%;
  background-image: linear-gradient(329deg, #6F4F28, #6A0D91, #D4AF37);
}
90.954% {
  background-position: 330% 50%;
  background-image: linear-gradient(330deg, #6F4F28, #6A0D91, #D4AF37);
}
91.231% {
  background-position: 331% 50%;
  background-image: linear-gradient(331deg, #6F4F28, #6A0D91, #D4AF37);
}
91.508% {
  background-position: 332% 50%;
  background-image: linear-gradient(332deg, #6F4F28, #6A0D91, #D4AF37);
}
91.785% {
  background-position: 333% 50%;
  background-image: linear-gradient(333deg, #6F4F28, #6A0D91, #D4AF37);
}
91.785% {
  background-position: 333% 50%;
  background-image: linear-gradient(333deg, #6F4F28, #6A0D91, #D4AF37);
}
92.062% {
  background-position: 334% 50%;
  background-image: linear-gradient(334deg, #6F4F28, #6A0D91, #D4AF37);
}
92.339% {
  background-position: 335% 50%;
  background-image: linear-gradient(335deg, #6F4F28, #6A0D91, #D4AF37);
}
92.616% {
  background-position: 336% 50%;
  background-image: linear-gradient(336deg, #6F4F28, #6A0D91, #D4AF37);
}
92.893% {
  background-position: 337% 50%;
  background-image: linear-gradient(337deg, #6F4F28, #6A0D91, #D4AF37);
}
93.17% {
  background-position: 338% 50%;
  background-image: linear-gradient(338deg, #6F4F28, #6A0D91, #D4AF37);
}
93.447% {
  background-position: 339% 50%;
  background-image: linear-gradient(339deg, #6F4F28, #6A0D91, #D4AF37);
}
93.724% {
  background-position: 340% 50%;
  background-image: linear-gradient(340deg, #6F4F28, #6A0D91, #D4AF37);
}
94.001% {
  background-position: 341% 50%;
  background-image: linear-gradient(341deg, #6F4F28, #6A0D91, #D4AF37);
}
94.278% {
  background-position: 342% 50%;
  background-image: linear-gradient(342deg, #6F4F28, #6A0D91, #D4AF37);
}
94.555% {
  background-position: 343% 50%;
  background-image: linear-gradient(343deg, #6F4F28, #6A0D91, #D4AF37);
}
94.832% {
  background-position: 344% 50%;
  background-image: linear-gradient(344deg, #6F4F28, #6A0D91, #D4AF37);
}
95.109% {
  background-position: 345% 50%;
  background-image: linear-gradient(345deg, #6F4F28, #6A0D91, #D4AF37);
}
95.386% {
  background-position: 346% 50%;
  background-image: linear-gradient(346deg, #6F4F28, #6A0D91, #D4AF37);
}
95.663% {
  background-position: 347% 50%;
  background-image: linear-gradient(347deg, #6F4F28, #6A0D91, #D4AF37);
}
95.94% {
  background-position: 348% 50%;
  background-image: linear-gradient(348deg, #6F4F28, #6A0D91, #D4AF37);
}
96.217% {
  background-position: 349% 50%;
  background-image: linear-gradient(349deg, #6F4F28, #6A0D91, #D4AF37);
}
96.494% {
  background-position: 350% 50%;
  background-image: linear-gradient(350deg, #6F4F28, #6A0D91, #D4AF37);
}
96.771% {
  background-position: 351% 50%;
  background-image: linear-gradient(351deg, #6F4F28, #6A0D91, #D4AF37);
}
97.048% {
  background-position: 352% 50%;
  background-image: linear-gradient(352deg, #6F4F28, #6A0D91, #D4AF37);
}
97.325% {
  background-position: 353% 50%;
  background-image: linear-gradient(353deg, #6F4F28, #6A0D91, #D4AF37);
}
97.602% {
  background-position: 354% 50%;
  background-image: linear-gradient(354deg, #6F4F28, #6A0D91, #D4AF37);
}
97.879% {
  background-position: 355% 50%;
  background-image: linear-gradient(355deg, #6F4F28, #6A0D91, #D4AF37);
}
98.156% {
  background-position: 356% 50%;
  background-image: linear-gradient(356deg, #6F4F28, #6A0D91, #D4AF37);
}
98.433% {
  background-position: 357% 50%;
  background-image: linear-gradient(357deg, #6F4F28, #6A0D91, #D4AF37);
}
98.71% {
  background-position: 358% 50%;
  background-image: linear-gradient(358deg, #6F4F28, #6A0D91, #D4AF37);
}
98.987% {
  background-position: 359% 50%;
  background-image: linear-gradient(359deg, #6F4F28, #6A0D91, #D4AF37);
}
99.264% {
  background-position: 360% 50%;
  background-image: linear-gradient(360deg, #6F4F28, #6A0D91, #D4AF37);
}
99.541% {
  background-position: 361% 50%;
  background-image: linear-gradient(361deg, #6F4F28, #6A0D91, #D4AF37);
}
99.818% {
  background-position: 362% 50%;
  background-image: linear-gradient(362deg, #6F4F28, #6A0D91, #D4AF37);
}
100% {
  background-position: 363% 50%;
  background-image: linear-gradient(363deg, #6F4F28, #6A0D91, #D4AF37);
}
  
}

