
  @keyframes moveLeftToRight {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  @keyframes moveRightToLeft {
    0% {
      transform: translateX(100%);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-moveLeftToRight {
    animation: moveLeftToRight 8s ease-in-out infinite;
  }
  
  .animate-moveRightToLeft {
    animation: moveRightToLeft 8s ease-in-out infinite;
  }
  
  