@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Logo"; /* Replace with your desired font name */
  src: url("/public/round-8-font-1727593881-0/round8-four.otf")
    format("opentype"); /* Adjust the file path */
  font-weight: normal; /* Specify normal, bold, etc. */
  font-style: normal; /* Specify normal, italic, etc. */
}
@font-face {
  font-family: "alto";
  src: url("/public/aalto-font-1727594448-0/aalto-display-personal-use.otf")
    format("opentype");
  font-weight: normal; /* Specify normal, bold, etc. */
  font-style: normal;
}

@font-face {
    font-family: 'cal';
    src: url("/public/caelia-font-family-1727594684-0/CaeliaDemo-Light-BF66f646ddd7f29.otf") format("opentype");
}

@font-face {
    font-family: 'sil';
    src: url("/public/silver-magnum-font-1727594873-0/silvermagnum-regular.otf") format("opentype");
}