@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pixel"; /* Replace with your desired font name */
  src: url("/public/game-paused-display-font-1728085043-0/Game-Paused-DEMO-BF6699ef512572b.otf")
    format("opentype"); /* Adjust the file path */
  font-weight: normal; /* Specify normal, bold, etc. */
  font-style: normal; /* Specify normal, italic, etc. */
}
