@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
 */
 @import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee&display=swap');